﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <style>
        .btn.square {
            border-radius: 0;
        }
    </style>
</head>

<body>
    <div id="NormalLayout">
        <div class="navbar  bg-dark text-white">
            <div class="btn-group">
                <a class="btn btn-dark" asp-action="Index" asp-controller="Home">The Steve Army</a>
                <div class="dropdown">
                    <div class="dropdown-toggle btn btn-dark" data-toggle="dropdown">
                        Sudoku
                    </div>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <a class="text-dark" asp-page="/NewPuzzle">New Sudoku Puzzle</a>
                        </div>
                        <div class="dropdown-item">
                            <a class="text-dark" asp-page="/SudokuSolver">Sudoku Solver</a>
                        </div>
                    </div>
                </div>
                <div>
                    <a class="btn btn-dark" asp-action="AllProjects" asp-controller="Project">Projects</a>
                </div>
                @if (User.Identity.IsAuthenticated && User.Identity.Name.Equals("KalnomosTheBold"))
                {
                    <div class="dropdown">
                        <div class="btn btn-dark text-white dropdown-toggle" data-toggle="dropdown">Blog Posts</div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-action="NewBlogPost" asp-controller="BlogPost">New Post</a>
                            <a class="dropdown-item" asp-action="CurrentBlogPosts" asp-controller="BlogPost">Current Blog Posts</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <div class="btn btn-dark text-white dropdown-toggle" data-toggle="dropdown">Edit Projects</div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-action="NewProject" asp-controller="Project">New Project</a>
                            <a class="dropdown-item" asp-action="AllProjectsEdit" asp-controller="Project">All Projects Edit</a>
                        </div>
                    </div>

                }
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-dark text-white" asp-action="LogOut" asp-controller="Account">Sign Off</a>
                    <a class="text-white btn btn-dark disabled">Welcome @User.Identity.Name!</a> 
                }
                else
                {
                    <a class="btn btn-dark text-white" asp-action="Login" asp-controller="Account">Log In</a>
                    <a class="btn btn-dark text-white" asp-action="CreateTempUser" asp-controller="Account">Regsiter</a>
                }
            </div>
        </div>
    </div>
    <div id="PhoneLayout">
        <a class="btn btn-dark btn-block" style="border-radius: 0" asp-action="Index" asp-controller="Home">The Steve Army</a>
        <div class="dropdown">
            <div style="border-radius: 0" class="dropdown-toggle btn btn-dark btn-block" data-toggle="dropdown">
                Sudoku
            </div>
            <div class="dropdown-menu">
                <div class="dropdown-item">
                    <a class="text-dark" asp-page="/NewPuzzle">New Sudoku Puzzle</a>
                </div>
                <div class="dropdown-item">
                    <a class="text-dark" asp-page="/SudokuSolver">Sudoku Solver</a>
                </div>
            </div>
            <div>
                <a class="btn btn-dark btn-block" style="border-radius: 0" asp-action="AllProjects" asp-controller="Project">Projects</a>
            </div>
            @if (User.Identity.IsAuthenticated && User.Identity.Name.Equals("KalnomosTheBold"))
            {
                <div class="dropdown">
                    <div class="btn btn-block btn-dark text-white dropdown-toggle" style="border-radius: 0" data-toggle="dropdown">Blog Posts</div>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="NewBlogPost" asp-controller="BlogPost">New Post</a>
                        <a class="dropdown-item" asp-action="CurrentBlogPosts" asp-controller="BlogPost">Current Blog Posts</a>
                    </div>
                </div>
                <div class="dropdown">
                    <div class="btn btn-dark btn-block text-white dropdown-toggle" style="border-radius: 0" data-toggle="dropdown">Edit Projects</div>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="NewProject" asp-controller="Project">New Project</a>
                        <a class="dropdown-item" asp-action="AllProjectsEdit" asp-controller="Project">All Projects Edit</a>
                    </div>
                </div>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <div><a class="btn btn-dark btn-block text-white" style="border-radius: 0" asp-action="LogOut" asp-controller="Account">Sign Off</a></div>
                <div><a class="text-white btn btn-block btn-dark disabled">Welcome @User.Identity.Name!</a></div>
            }
            else
            {
                <div><a class="btn btn-dark btn-block text-white" style="border-radius: 0" asp-action="Login" asp-controller="Account">Log In</a></div>
            <div><a class="btn btn-dark btn-block text-white" style="border-radius: 0" asp-action="CreateTempUser" asp-controller="Account">Regsiter</a></div>
            }

        </div>
    </div>

    @RenderBody()

    <style>
        @@media only screen and (min-width: 769px) {
            #PhoneLayout {
                display: none;
            }
        }

        @@media only screen and (max-width: 768px) {
            #NormalLayout {
                display: none;
            }
        }
    </style>
</body>
</html>
