﻿@model IEnumerable<TheSteveArmy.Models.Project>

<br /> <br />
<h1 style="text-align: center" class="display-1">All Projects (Edit)</h1>
@if (Model.Count() > 0)
{
    <table style="margin-top: 10%" class="table table-dark table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TheSteveArmy.Models.Project proj in @Model)
            {
                <tr>
                    <td>@proj.Heading</td>
                    <td><a asp-action="EditProject" asp-controller="Project" asp-route-id="@proj.Id" class="text-white btn btn-dark">Edit</a></td>
                    <td><a class="text-white btn btn-dark" asp-action="RemoveProject" asp-controller="Project" asp-route-id="@proj.Id">Remove</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 style="text-align: center" class="display-1">No Projects</h2>

}
