﻿@model IEnumerable<TheSteveArmy.Models.Project>

@{
    ViewBag.Tile = "Projects";
}


@using TheSteveArmy.Models
<div class="container-fluid">

    <div id="NormalSize" class="text-dark">
        <div style="text-align: center"><h1 class="display-1 text-dark">Projects</h1></div>

        @if (Model.Count() == 0)
        {
            <div style="text-align: center"><h2 class="display-1 text-dark">No Current Projects</h2></div>

        }
    </div>

</div>

<div id="PhoneSize" style="width: 100%; box-sizing: border-box; word-wrap: break-word">
    <h2 class="text-dark" style="text-align: center">Projects</h2>

    @if (Model.Count() == 0)
    {
        <div style="text-align: center"><h2 text-dark">No Current Projects</h2></div>

    }
</div>

@if (Model.Count() > 0)
{



    <br /><br /><br /><br />
    <div style="margin-left: 15%"><h2 class="display-4 text-dark">Asp Core Projects</h2></div>
    <ul style="margin-left: 15%">
        @foreach (Project proj in @Model)
        {
            if (proj.Category == ProjectCategoriesEnum.AspCore)
            {
                <li><a class="text-dark" asp-action="ProjectPage" asp-controller="Project" asp-route-id="@proj.Id">@proj.Heading : @proj.BriefDescription</a></li>
            }

        }
    </ul>
    <br /><br />
    <div style="margin-left: 15%"><h2 class="display-4 text-dark">Fun</h2></div>
    <ul style="margin-left: 15%">
        @foreach (Project proj in @Model)
        {
            if (proj.Category == ProjectCategoriesEnum.Fun)
            {
                <li><a class="text-dark" asp-action="ProjectPage" asp-controller="Project" asp-route-id="@proj.Id">@proj.Heading : @proj.BriefDescription</a></li>
            }

        }
    </ul>
}

<style>
    @@media only screen and (max-width: 768px) {
        #NormalSize {
            display: none;
        }
    }

    @@media only screen and (min-width: 769px) {
        #PhoneSize {
            display: none;
        }
    }
</style>
</div>
