﻿@model TheSteveArmy.ViewModels.ProjectViewModel
@{ 
    ViewBag.Title = "New Project";
}


<div id="NormalSize" class="text-dark">
    <h1 style="text-align: center" class="display-1">New Project</h1>

    <div style="margin-left: 30%; margin-top: 10%">
        <form asp-action="NewProject" method="post" enctype="multipart/form-data">
            <div style="margin-bottom: 2.5%">
                <label>Header: </label>
                <input type="text" asp-for="Heading" />
                <span class="text-danger" asp-validation-for="Heading"></span>
            </div>
            <div>
                <label>
                    Body:
                    <textarea style="vertical-align: middle" asp-for="Body" cols="80" rows="15"></textarea>
                </label>
                <span class="text-danger" asp-validation-for="Body"></span>
                <p>Use the br tag for seperating paragraphs above.</p>
            </div>
            <div>
                <label>Add Image *Required*</label>
                <input type="file" asp-for="Image"/>
                <span class="text-danger" asp-validation-for="Image"></span>
            </div>
            <br />
            <div>
                <label>Category: </label>
                <select asp-for="Category" asp-items="@Html.GetEnumSelectList<TheSteveArmy.Models.ProjectCategoriesEnum>()"></select>
            </div>
            <br />
            <div>
                <label>Breif Description</label>
                <textarea cols="50" rows="2" asp-for="BriefDescription"></textarea>
                <span class="text-danger" asp-validation-for="BriefDescription"></span>
            </div>
            <br />
            <div>
                <label>Add Repository</label>
                <input type="text" asp-for="Repository"/>
            </div>
            <br />
            <div>
                <p>Additional Links (Use $##$ as a delimeter between each link and #$$# between each link and its description).</p>
                <textarea cols="50" rows="5" asp-for="AdditionalLinks"></textarea>
            </div>
            <br />
            <div style="margin-left: 25%">
                <input class="btn btn-dark text-white" type="submit" value="Create Project" />
            </div>
        </form>
    </div>
</div>