﻿@model TheSteveArmy.ViewModels.ProjectPageViewModel
@using TheSteveArmy.Models

<div class="container-fluid">

    <div id="NormalSize" class="text-dark">
        <div style="text-align: center"><h1 class="display-1 text-dark">@Model.Heading</h1></div>

        <div style="width: 80%; margin-top: 5%; margin-left: 10%">

            <div class="card" style="margin-top: 3%; border: none">
                <div class="card-body text-dark">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col"><img class="img-fluid" src="data:image;base64, @Convert.ToBase64String(@Model.Image)" /></div>
                        <div class="col"></div>
                    </div>
                    <br /><br />
                    @foreach (string s in Model.Body.Split("<br />"))
                    {
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@s</p>
                    }
                </div>
                <br /><br /><br /><br />

                @if (!String.IsNullOrEmpty(Model.Repository))
                {
                    <div>
                        <h2 class="text-white"><span class="badge badge-dark">Repository</span></h2>
                        <a href="@Model.Repository">@Model.Repository</a>
                    </div>

                }
                <br /><br />
                @if (!String.IsNullOrEmpty(Model.AdditionalLinks))
                {
                    <div>
                        <h2 class="text-white"><span class="badge badge-dark">Additional Links</span></h2>

                        <ul>
                            @foreach (string s in Model.AdditionalLinks.Split("$##$"))
                            {
                                string[] splitString = s.Split("#$$#");
                                <li>
                                    @splitString[0]
                                    <a href="@splitString[1]">@splitString[1]</a>
                                </li>

                            }
                        </ul>
                    </div>
                }
            </div>
            <div class="card">
                <div class="card-body">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="row">
                            <div class="col"></div>
                            <div class="col jumbotron">
                                <form method="post" asp-action="NewProjectComment" asp-controller="Project">
                                    <textArea asp-for="NewComment" rows="5" cols="50"></textArea>
                                    <br /><br />
                                    <input class="btn btn-dark text-white" style="margin-left: 35%" type="submit" value="Add Comment" />
                                    <input type="hidden" asp-for="NewCommentUserName" value="@User.Identity.Name" />
                                    <input type="hidden" asp-for="Id" />
                                </form>
                            </div>
                            <div class="col"></div>
                        </div>
                    }
                    else
                    {
                        <p style="text-align: center">To Comment Log In Or Register</p>

                    }
                    <br /><br />
                    @foreach (Comment c in Model.Comments)
                    {

                        <div class="card" style="width: 100%">
                            <div style="width: 100%" class="card-header text-white bg-dark">
                                <div class="row">
                                    <div class="col-4"> @c.UserName : @c.CreatedAt</div>
                                    <div class="col-4"></div>
                                    @if ((User.Identity.IsAuthenticated) && (User.Identity.Name.Equals(c.UserName) || User.Identity.Name.Equals("KalnomosTheBold")))
                                    {
                                        <div class="col-4">
                                            <form asp-action="RemoveComment" asp-controller="Project" asp-route-id="@c.Id" method="post">
                                                <input type="submit" value="Remove" class="btn btn-light" style="margin-left: 45%; display: inline" />
                                            </form>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-4"></div>

                                    }
                                </div>
                            </div>
                            <div style="width: 100%" class="card-body">@c.Text</div>
                        </div>

                        <br />

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div id="PhoneSize" style="width: 100%; box-sizing: border-box; word-wrap: break-word">
    <h2 class="text-dark" style="text-align: center">The Steve Army</h2>
    <div style="width: 80%; margin-top: 5%; margin-left: 10%">

        <div class="card" style="margin-top: 3%">
            <div class="card-header bg-dark text-white">@Model.Heading</div>
            <div class="card-body text-dark">
                <div class="row">
                    <div class="col"></div>
                    <div class="col"><img class="img-fluid" src="data:image;base64, @Convert.ToBase64String(Model.Image)" /></div>
                    <div class="col"></div>
                </div>
                <br /><br />
                @foreach (string s in Model.Body.Split("<br />"))
                {
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@s</p>
                }
            </div>
            <br /><br />

            @if (!String.IsNullOrEmpty(Model.Repository))
            {
                <div>
                    <h2 class="text-white"><span class="badge badge-dark">Repository</span></h2>
                    <a href="@Model.Repository">@Model.Repository</a>
                </div>

            }
            <br /><br />
            @if (!String.IsNullOrEmpty(Model.AdditionalLinks))
            {
                <div>
                    <h2 class="text-white"><span class="badge badge-dark">Additional Links</span></h2>

                    <ul>
                        @foreach (string s in Model.AdditionalLinks.Split("$##$"))
                        {
                            string[] splitString = s.Split("#$$#");
                            <li>
                                @splitString[0]
                                <a href="@splitString[1]">@splitString[1]</a>
                            </li>

                        }
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="row">
                    <div class="col"></div>
                    <div class="col jumbotron">
                        <form method="post" asp-action="NewProjectComment" asp-controller="Project">
                            <textArea asp-for="NewComment" rows="5" cols="18"></textArea>
                            <br /><br />
                            <input class="btn btn-dark text-white" style="margin-left: 17%" type="submit" value="Add Comment" />
                            <input type="hidden" asp-for="NewCommentUserName" value="@User.Identity.Name" />
                            <input type="hidden" asp-for="Id" />
                        </form>
                    </div>
                    <div class="col"></div>
                </div>
            }
            else
            {
                <p style="text-align: center">To Comment Log In Or Register</p>

            }
            <br /><br />
            @foreach (Comment c in Model.Comments)
            {

                <div class="card" style="width: 100%">
                    <div style="width: 100%" class="card-header text-white bg-dark">
                        @c.UserName : @c.CreatedAt
                        @if ((User.Identity.IsAuthenticated) && (User.Identity.Name.Equals(c.UserName) || User.Identity.Name.Equals("KalnomosTheBold")))
                        {
                            <form asp-action="RemoveComment" asp-controller="Project" asp-route-id="@c.Id" method="post">
                                <input type="submit" value="Remove" class="btn btn-light" style="margin-left: 45%; display: inline" />
                            </form>

                        }
                    </div>
                    <div style="width: 100%" class="card-body">@c.Text</div>
                </div>

                <br />

            }
        </div>
    </div>
</div>
<style>
    @@media only screen and (max-width: 768px) {
        #NormalSize {
            display: none;
        }
    }

    @@media only screen and (min-width: 769px) {
        #PhoneSize {
            display: none;
        }
    }
</style>
