﻿@model TheSteveArmy.Models.TempUser

<div id="NormalSize" style="margin-top: 10%"class="row">
    <div class="col"></div>
    <div class="col card">
        <div class="card-header text-white bg-dark"><p class="Display-3" style="text-align: center">Create Account</p></div>
        <div class="card-body">
            <form method="post" asp-action="CreateTempUser" asp-controller="Account">
                <div style="margin-left: 30%">
                    <div>
                        User Name<br />
                        <input type="text" asp-for="@Model.UserName" />
                        <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                    </div>
                    <div>
                        Password<br />
                        <input type="password" asp-for="@Model.Password" />
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>
                    <div>
                        Email<br />
                        <input type="email" asp-for="@Model.Email" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                    <br /><br />
                </div>
                <input type="submit" value="Submit" class="btn btn-dark" style="margin-left: 45%" />
            </form>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        </div>
        <p style="text-align: center">Password must be 8 characters long and contain at least one number, lowercase character, and uppercase character.</p>
    </div>
    <div class="col"></div>
</div>
<div id="PhoneSize" style="margin-left: 5%; margin-top: 10%; width: 80%">
    <div class="card">
        <div class="card-header text-white bg-dark"><p class="Display-3" style="text-align: center">Create Account</p></div>
        <div class="card-body">
            <form method="post" asp-action="CreateTempUser" asp-controller="Account">
                <div>
                    <div>
                        User Name<br />
                        <input type="text" asp-for="@Model.UserName" />
                        <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                    </div>
                    <div>
                        Password<br />
                        <input type="password" asp-for="@Model.Password" />
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>
                    <div>
                        Email<br />
                        <input type="email" asp-for="@Model.Email" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                    <br /><br />
                </div>
                <input type="submit" value="Submit" class="btn btn-dark" style="margin-left: 17%" />
            </form>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        </div>
        <p style="text-align: center">Password must be 8 characters long and contain at least one number, lowercase character, and uppercase character.</p>
    </div>
    <div class="col"></div>
</div>
<style>
    @@media only screen and (max-width: 768px) {
        #NormalSize {
            display: none;
        }

        #PhoneSize {
        }
    }

    @@media only screen and (min-width: 769px) {
        #PhoneSize {
            display: none;
        }
    }
</style>