﻿
@model TheSteveArmy.ViewModels.LoginViewModel

<div id="NormalSize" style="margin-top: 20%" class="row">
    <div class="col"></div>
    <div style="width: 30%" class="card col">
        <div style="text-align: center" class="card-header bg-dark text-white">
            <span class="display-3">Log In</span>
        </div>
        <div class="card-body">
            <form method="post" asp-action="Login" asp-controller="Account">
                <div style="margin-left: 25%">
                    <div>
                        User Name <br />
                        <input type="text" asp-for="Username" />
                    </div>
                    <div>
                        Password <br />
                        <input type="password" asp-for="Password" />
                    </div>
                </div>
                <div style="margin-left: 40%; margin-top: 5%">
                    <input class="btn btn-dark text-white" type="submit" value="Log In" />
                </div>
            </form>
        </div>
    </div>
    <div class="col"></div>
</div>
<div id="PhoneSize" style="margin-top: 10%; width: 80%; margin-left: 5%" class="card col">
    <div style="text-align: center" class="card-header bg-dark text-white">
        <span class="display-3">Log In</span>
    </div>
    <div class="card-body">
        <form method="post" asp-action="Login" asp-controller="Account">
            <div>
                <div>
                    User Name <br />
                    <input type="text" asp-for="Username" />
                </div>
                <div>
                    Password <br />
                    <input type="password" asp-for="Password" />
                </div>
            </div>
            <div style="margin-left: 40%; margin-top: 5%">
                <input class="btn btn-dark text-white" type="submit" value="Log In" />
            </div>
        </form>
    </div>
</div>
<style>
    @@media only screen and (max-width: 768px) {
        #NormalSize {
            display: none;
        }

        #PhoneSize {
        }
    }

    @@media only screen and (min-width: 769px) {
        #PhoneSize {
            display: none;
        }
    }
</style>