﻿@model TheSteveArmy.ViewModels.IndexViewModel
@using TheSteveArmy.Models
<div class="container-fluid">

    <div id="NormalSize" class="text-dark">
        <div style="text-align: center"><h1 class="display-1 text-dark">The Steve Army</h1></div>

        <div style="width: 80%; margin-top: 5%; margin-left: 10%">
            @foreach (BlogPostWrapper post in Model.BlogPosts)
            {
                string commentBoxName = "commentBox" + @post.Id;
                <div class="card" style="margin-top: 3%">
                    <div class="card-header bg-dark text-white">@post.PostHeader&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@post.CreatedAt</div>
                    <div class="card-body text-dark">
                        @if (post.HasImage)
                        {
                            <div class="row">
                                <div class="col"></div>
                                <div class="col"><img class="img-fluid" src="data:image;base64, @Convert.ToBase64String(post.PostImage)" /></div>
                                <div class="col"></div>
                            </div>
                            <br /><br />
                        }
                        @post.PostBody
                    </div>
                    <div class="card-footer text-white bg-dark">
                        @if (post.Edited == true)
                        {
                            <span class="text-secondary" style="font-style: italic">Last Edited: @post.LastEdited</span>

                        }
                    </div>
                </div>
                <div class="card" id="@commentBoxName">
                    <div class="card-body">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="row">
                                <div class="col"></div>
                                <div class="col jumbotron">
                                    <form method="post" asp-action="NewBlogComment" asp-controller="Home">
                                        <textArea asp-for="@Model.NewComment" rows="5" cols="50"></textArea>
                                        <br /><br />
                                        <input class="btn btn-dark text-white" style="margin-left: 35%" type="submit" value="Add Comment" />
                                        <input type="hidden" asp-for="@Model.NewCommentUserName" value="@User.Identity.Name" />
                                        <input type="hidden" asp-for="@Model.BlogPostId" value="@post.Id" />
                                    </form>
                                </div>
                                <div class="col"></div>
                            </div>
                        }
                        else
                        {
                            <p style="text-align: center">To Comment Log In Or Register</p>

                        }
                        <br /><br />
                        @foreach (Comment c in post.Comments)
                        {
                            <div class="card" style="width: 100%">
                                <div style="width: 100%" class="card-header text-white bg-dark">

                                    <div class="row">
                                        <div class="col-4"> @c.UserName : @c.CreatedAt</div>
                                        <div class="col-4"></div>
                                        @if ((User.Identity.IsAuthenticated) && (User.Identity.Name.Equals(c.UserName) || User.Identity.Name.Equals("KalnomosTheBold")))
                                        {
                                            <div class="col-4">
                                                <form asp-action="RemoveComment" asp-controller="Home" asp-route-id="@c.Id" method="post">
                                                    <input type="submit" value="Remove" class="btn btn-light" style="margin-left: 45%; display: inline" />
                                                </form>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-4"></div>

                                        }
                                    </div>
                                </div>
                                <div style="width: 100%" class="card-body">@c.Text</div>
                            </div>
                            <br />

                        }
                    </div>
                </div>
                <script>

                    $('#commentBox' + @post.Id).hide();
                </script>
                <div style="text-align: center"><button class="btn btn-light" onclick="let commentBox = '#commentBox' + @post.Id; toggleCommentBox(commentBox);">Comments</button></div>
            }
            @if (Model.BlogPosts.Count == 0)
            {
                <div style="text-align: center"><h2 class="display-1 text-dark">No Current Blog Posts</h2></div>

            }
        </div>
        <br /><br /><br />
    </div>

</div>
<div id="PhoneSize" style="width: 100%; box-sizing: border-box; word-wrap: break-word">
    <h2 class="text-dark" style="text-align: center">The Steve Army</h2>
    <div style="width: 80%; margin-top: 5%; margin-left: 10%">
        @foreach (BlogPostWrapper post in Model.BlogPosts)
        {
            string commentBoxName = "commentBox2" + @post.Id;
            <div class="card" style="margin-top: 3%">
                <div class="card-header bg-dark text-white">@post.PostHeader&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@post.CreatedAt</div>
                <div class="card-body text-dark">
                    @if (post.HasImage)
                    {
                        <div class="row">
                            <div class="col"></div>
                            <div class="col"><img class="img-fluid" src="data:image;base64, @Convert.ToBase64String(post.PostImage)" /></div>
                            <div class="col"></div>
                        </div>
                        <br /><br />
                    }
                    @post.PostBody
                </div>
                <div class="card-footer text-white bg-dark">
                    @if (post.Edited == true)
                    {
                        <span class="text-secondary" style="font-style: italic">Last Edited: @post.LastEdited</span>

                    }
                </div>
            </div>
            <div class="card" id="@commentBoxName">
                <div class="card-body">
                    @if (User.Identity.IsAuthenticated)
                    {

                        <div class="col jumbotron">
                            <form method="post" asp-action="NewBlogComment" asp-controller="Home">
                                <textArea asp-for="@Model.NewComment" rows="5" cols="18"></textArea>
                                <br /><br />
                                <input class="btn btn-dark text-white" style="margin-left: 17%" type="submit" value="Add Comment" />
                                <input type="hidden" asp-for="@Model.NewCommentUserName" value="@User.Identity.Name" />
                                <input type="hidden" asp-for="@Model.BlogPostId" value="@post.Id" />
                            </form>
                        </div>
                    }
                    else
                    {
                        <p style="text-align: center">To Comment Log In Or Register</p>

                    }
                    <br /><br />
                    @foreach (Comment c in post.Comments)
                    {
                        <div class="card" style="width: 100%">
                            <div style="width: 100%" class="card-header text-white bg-dark">
                                @c.UserName : @c.CreatedAt
                                @if ((User.Identity.IsAuthenticated) && (User.Identity.Name.Equals(c.UserName) || User.Identity.Name.Equals("KalnomosTheBold")))
                                {
                                    <form asp-action="RemoveComment" asp-controller="Home" asp-route-id="@c.Id" method="post">
                                        <input type="submit" value="Remove" class="btn btn-light" style="margin-left: 45%; display: inline" />
                                    </form>

                                }

                            </div>
                            <div style="width: 100%" class="card-body">@c.Text</div>
                        </div>
                        <br />

                    }
                </div>
            </div>
            <script>

                    $('#commentBox2' + @post.Id).hide();
            </script>
            <div style="text-align: center"><button class="btn btn-light" onclick="let commentBox = '#commentBox2' + @post.Id; toggleCommentBox(commentBox);">Comments</button></div>

        }
        @if (Model.BlogPosts.Count == 0)
        {
            <div style="text-align: center"><h2 text-dark">No Current Blog Posts</h2></div>

        }
    </div>

    <script>
        function toggleCommentBox(commentBoxName) {
            $(commentBoxName).slideToggle(500);
        }
    </script>
    <style>
        @@media only screen and (max-width: 768px) {
            #NormalSize {
                display: none;
            }
        }

        @@media only screen and (min-width: 769px) {
            #PhoneSize {
                display: none;
            }
        }
    </style>
</div>
