﻿@page

@{ 
    Layout = null;
}

@model TheSteveArmy.Pages.NewPuzzleModel

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style>
    td {
        font-size: 4em;
        border: 1px solid black;
    }
</style>

@{ int counter = 0;}


<h1 style="margin-left: 20%" class="display-1">Steve Army Sudoku</h1>

<br />
<br />
<br />
<br />
<table style="margin-left: 20%">
    @for (int i = 0; i < 9; i++)
    {
        <tr>
            @for (int i2 = 0; i2 < 9; i2++)
            {
                string num = Model.Puzzle[counter] + "";
                counter++;

                @if (!num.Equals("0"))
                {
                    @if (counter % 2 == 0)
                    {
                        <td style="background-color: #E8E8E8">
                            @num&nbsp;&nbsp;&nbsp;
                        </td>

                    }
                    else
                    {
                        <td>
                            @num&nbsp;&nbsp;&nbsp;
                        </td>

                    }

                }
                @if (num.Equals("0"))
                {
                    @if (counter % 2 == 0)
                    {
                        <td style="background-color: #E8E8E8">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    }
                    else
                    {
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </td>

                    }
                }

            }

        </tr>
    }
</table>
<script>
    window.print();
</script>