﻿@page
@addTagHelper  *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TheSteveArmy.Pages.SudokuSolverModel

<style>
    table {
        width: auto;
        box-sizing: border-box;
    }

    tr {
        width: auto;
        box-sizing: border-box;
    }

    td {
        font-size: 2em;
        border: 1px solid black;
        box-sizing: border-box;
    }

    input[type=text] {
        border-radius: 0;
    }
</style>
<br />

<div id="NormalSize">
    <h1 style="margin-left: 30%" class="display-1">Sudoku Solver</h1>

    <br />
    <br />
    <br />
    <br />


    <div id="SudokuContainer" style="margin-left: 30%; width: 30%; height: 100%">
        <form asp-page="SudokuSolver" method="post">
            <table>
                <tr>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td>
                            <input type="text" asp-for="Row0.Cells[i].Number" style="width:100%" />
                        </td>
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td>
                            <input type="text" asp-for="Row1.Cells[i].Number" style="width:100%" />
                        </td>
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td>
                            <input type="text" asp-for="Row2.Cells[i].Number" style="width:100%" />
                        </td>
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td>
                            <input type="text" asp-for="Row3.Cells[i].Number" style="width:100%" />
                        </td>
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td>
                            <input type="text" asp-for="Row4.Cells[i].Number" style="width:100%" />
                        </td>
                    }
                <tr>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td>
                            <input type="text" asp-for="Row5.Cells[i].Number" style="width:100%" />
                        </td>
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td>
                            <input type="text" asp-for="Row6.Cells[i].Number" style="width:100%" />
                        </td>
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td>
                            <input type="text" asp-for="Row7.Cells[i].Number" style="width:100%" />
                        </td>
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td>
                            <input type="text" asp-for="Row8.Cells[i].Number" style="width:100%" />
                        </td>
                    }
                </tr>
            </table>
            <input style="margin-left: 40%; margin-top: 5%;" class="btn btn-light" type="submit" value="Submit" />
        </form>
    </div>
</div>
<div id="PhoneSize">
    <h1 style="margin-left:10%">Sudoku Solver</h1>
    <div style="margin-left: 10%; width: 80%; height: 50%">
        <form asp-page="SudokuSolver" method="post">
            <table>
                <tr>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td>
                            <input type="text" asp-for="Row0.Cells[i].Number" style="width:100%" />
                        </td>
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td>
                            <input type="text" asp-for="Row1.Cells[i].Number" style="width:100%" />
                        </td>
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td>
                            <input type="text" asp-for="Row2.Cells[i].Number" style="width:100%" />
                        </td>
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td>
                            <input type="text" asp-for="Row3.Cells[i].Number" style="width:100%" />
                        </td>
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td>
                            <input type="text" asp-for="Row4.Cells[i].Number" style="width:100%" />
                        </td>
                    }
                <tr>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td>
                            <input type="text" asp-for="Row5.Cells[i].Number" style="width:100%" />
                        </td>
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td>
                            <input type="text" asp-for="Row6.Cells[i].Number" style="width:100%" />
                        </td>
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td>
                            <input type="text" asp-for="Row7.Cells[i].Number" style="width:100%" />
                        </td>
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td>
                            <input type="text" asp-for="Row8.Cells[i].Number" style="width:100%;" />
                        </td>
                    }
                </tr>
            </table>
            <input style="margin-left: 40%; margin-top: 5%;" class="btn btn-light" type="submit" value="Submit" />
        </form>
    </div>
</div>
@if (Model.InvalidCharacters)
{

    <div style="margin-left: 30%" class="text-danger">Invalid Characters</div>

}
@if (Model.ContradictingPuzzle)
{

    <div style="margin-left: 30%" class="text-danger">Puzzle Contradicts</div>

}
<style>
    @@media only screen and (max-width: 768px) {
        #NormalSize {
            display: none;
        }

        td {
            font-size: .8em;
        }
    }

    @@media only screen and (min-width: 769px) {
        #PhoneSize {
            display: none;
        }
    }
</style>