﻿@model IEnumerable<TheSteveArmy.Models.BlogPost>
@using TheSteveArmy.Models
    <div style="margin-top: 10%; width: 80%; margin-left: 10%">
        @if (Model.Count() > 0)
        {
         <table class="table table-bordered table-striped table-hover table-dark">
             <thead><tr>
                        <th>Date</th>
                        <th>Header</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
             </thead>
             <tbody>
        
                 @foreach (BlogPost post in Model)
                 {
                 <tr>
                     <td>@post.CreatedAt</td>
                     <td>@post.PostHeader</td>
                     <td><a class="btn btn-light text-dark" asp-action="EditBlogPost" asp-controller="BlogPost" asp-route-id="@post.Id">Edit</a></td>
                     <td><a class="btn btn-light text-dark" asp-action="RemoveBlogPost" asp-controller="BlogPost" asp-route-id="@post.Id">Remove</a></td>
                 </tr>

                 }
             </tbody>
         </table>
        }
        @if(Model.Count() == 0)
        {
            <div id="NormalSize "style="text-align: center"><h2 class="display-1 text-dark">No Current Blog Posts</h2></div>
            <div id="PhoneSize" style="text-align: center"><h2 class="text-dark">No Current Blog Posts</h2></div>
        }
    </div>

<style>
    @@media only screen and (max-width: 768px){
        #NormalSize {
            display: none;
        }
    }
    @@media only screen and (min-width: 769px){
        #PhoneSize { 
            display: none;
        }
    }
</style>