﻿@model TheSteveArmy.ViewModels.BlogPostViewModel



<div id="NormalSize" class="text-dark">
    <h1 style="text-align: center" class="display-1">Edit Post</h1>

    <div style="margin-left: 30%; margin-top: 10%">
        <form asp-action="EditBlogPost" method="post" enctype="multipart/form-data">
            <div style="margin-bottom: 2.5%">
                <label>Header: </label>
                <input type="text" asp-for="PostHeader" />
                <span class="text-danger" asp-validation-for="PostHeader"></span>
            </div>
            <div>
                <label>
                    Body:
                    <textarea style="vertical-align: middle" asp-for="PostBody" cols="80" rows="15"></textarea>
                </label>
                <span class="text-danger" asp-validation-for="PostBody"></span>
            </div>

            <div>
                @if (Model.HasImage)
                {
                    <label>Remove Image&nbsp; &nbsp;</label>
                    <input type="checkbox" asp-for="RemoveImage" />
                }
                else{ 
                    <label>Add Image</label>
                    <input type="file" asp-for="PostImage" />
                }
            </div>

            <br />
            <div style="margin-left: 25%">
                <input class="btn btn-dark text-white" type="submit" value="Save Changes" />
            </div>

            
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedAt" />
        </form>
    </div>
</div>