﻿@model TheSteveArmy.ViewModels.BlogPostViewModel



<div id="NormalSize" class="text-dark">
    <h1 style="text-align: center" class="display-1">New Post</h1>

    <div style="margin-left: 30%; margin-top: 10%">
        <form asp-action="NewBlogPost" method="post" enctype="multipart/form-data">
            <div style="margin-bottom: 2.5%">
                <label>Header: </label>
                <input type="text" asp-for="PostHeader" />
                <span class="text-danger" asp-validation-for="PostHeader"></span>
            </div>
            <div>
                <label>
                    Body:
                    <textarea style="vertical-align: middle" asp-for="PostBody" cols="80" rows="15"></textarea>
                </label>
                <span class="text-danger" asp-validation-for="PostBody"></span>
            </div>
            <div>
                <label>Add Image</label>
                <input type="file" asp-for="PostImage"/>
            </div>
            <br />
            <div style="margin-left: 25%">
                <input class="btn btn-dark text-white" type="submit" value="Create Post" />
            </div>
        </form>
    </div>
</div>